<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css"
          th:href="@{/style.css}"/>
    <link rel="stylesheet" media="screen and (max-width: 1200px) and (min-width: 601px)"
          th:href="@{/laptop.css}"/>
    <link rel="stylesheet" media="screen and (max-width: 600px)"
          th:href="@{/mobile.css}"/>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js.js"></script>
    <title th:include=":: #title">Title</title>
</head>
<body>
</body>
</html>
