<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head :: head"></div>
    <title id="title">WebSocket</title>
</head>
<body>
<noscript><h2>Please enable Javascript and reload this page</h2></noscript>
<div class="container">
    <form>
        <div class="row">
            <div class="col-label">
                <label for="connect">WebSocket connection:</label>
            </div>
            <div class="col-button-before"></div>
            <button id="connect" type="submit">Connect</button>
            <button id="disconnect" class="hidden" type="submit" disabled="disabled">Disconnect</button>

        </div>
    </form>

    <div class="col-label">
        <h3 id="connection"></h3>
    </div>

    <table id="notesTable" class="hidden">
        <caption>Notes</caption>
        <thead>
        <th scope="col"><h3>Content</h3></th>
        <th scope="col"><h3>Timestamp</h3></th>
        <th scope="col"><h3>Longest Palindrome Size</h3></th>
        </thead>
        <tbody id="notesBody">
        </tbody>
    </table>
</div>
</body>
</html>